.container {
  border: red 1px solid;

}
.title{
  background-color: black;
  color:white;
}

.box{
  background-color: orange;
  width:400px;
}
.fur{
  background-color: violet;
  width:400px;
  position: relative;
  left:-100px;
}
.app{
    background-color:  green;
}

@media (max-width: 600px) {
  .btn {
    width: 100%;
    flex-direction: column;
  }
}
